<div class="container-fluid">
  <h1>Book :- <%=@book.id%> </h1>
  <div class="container-fluid">
    <ul class="list-group">
      <li class="list-group-item">Book Id :- <%=@book.id%> </li>
      <li class="list-group-item">Title :- <%=@book.title%> </li>
      <li class="list-group-item">Published Year :- <%=@book.published_year%> </li>
      <li class="list-group-item">Isbn :- <%=@book.isbn%> </li>
      <li class="list-group-item">Price :- <%=@book.price%> </li>
      <li class="list-group-item">Out of Print :- <%=@book.out_of_print%> </li>
      <li class="list-group-item">Views :- <%=@book.views%> </li>
      <li class="list-group-item">Supplier Id :- <%=@book.supplier_id%> </li>
      <li class="list-group-item">Author Id :- <%=@book.author_id%> </li>
      <li class="list-group-item">Edit Book Details :- <%= link_to "Edit",  edit_book_path(@book.id) %> </li>
      <li class="list-group-item">Show Author Details :- <%=link_to "Author Details", author_path(@book.author_id) %> </li>
    </ul>
    <br> 
    <%= button_to "Delete Record ", @book, method: "delete" %>
  </div>
</div>