<div class="container">
  <h3>Add New </h3>
  <div class="container">  (:rating, :state)
    <%= form_for @review do |form| %>
      <p><strong><%=form.label :rating, "Rating" %></strong></p>
      <p><strong><%=form.number_field :rating %></strong></p>

      <p><strong><%=form.label :state, "State" %></strong></p>
      <p><strong><%=form.number_field :state %></strong></p>

      <%= form.submit "Create" %>
    <% end%>
  </div>
</div>