<div class="container">
  <div class="page-header">
    <h1>Review Details</h1>
    <hr>
    <%# <h4><span class="label label-primary">This is the list of existing orders</span></h4> %>
  </div>
</div>
<div class="container ">
  <table class="table table-striped table-bordered table-hover ">
     <thead>
      <tr>
        <th>Review Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Rating</th>
        <th>State</th>
        <th>Customer Id</th>
        <th>Book Id</th>
        <th>Show Full Details</th>
        <th>Show Book Details</th>
      </tr>
    </thead>
    <tbody>  
    <% @reviews.each do |review| %>
      <tr>
        <td><%=review.id%></td>
        <td><%=review.title%></td>
        <td><%=review.body %></td>
        <td><%=review.rating%></td>
        <td><%=review.state%></td>
        <td><%=review.customer_id%></td>
        <td><%=review.book_id%></td>
        <td><%=link_to "Show", review_path(review.id)%></td>
        <td><%=link_to "Show Book ", review_path(review.id)%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
